<img class="lower-layout" src="{{this.cardRarity.lowerLayout}}">
    <img class="soul" src="{{this.cardRarity.card.soulLayout}}" *ngIf="this.cardRarity.card.cardType.name == 'Character'">
    <div class="card-id text">
      {{this.cardRarity.cardNumberPhysical}}
    </div>
    <div class="card-power text" *ngIf="this.cardRarity.card.cardType.name == 'Character'">
      {{this.cardRarity.card.power}}
    </div>
    <div [activateOnResize]="true" [fittext]="true"
         [maxFontSize]="7" [minFontSize]="1" class="external-text-box card-name text">
      <div [activateOnResize]="true" [fittext]="true" [minFontSize]="1">{{this.cardRarity.card.name}}</div>
    </div>
    <div [innerHTML]="this.cardRarity.card.abilitiesSafe" class="abilities text">

    </div>

    <img
      class="card-attribute-slot card-attribute-slot-1 card-attribute-slot-size-{{this.cardRarity.card.product.release.maxAttributes}}"
      src="{{this.cardRarity.card.attribute1Image}}">
    <div *ngIf="this.cardRarity.card.attributes.length >= 1"
         [activateOnResize]="true"
         [fittext]="true"
         [maxFontSize]="7" [minFontSize]="1"
         class="text external-text-box card-attribute-text card-attribute-text-1 card-attribute-slot-size-{{this.cardRarity.card.product.release.maxAttributes}} {{this.cardRarity.card.cardType.name.toLowerCase()}}">
      <div [activateOnResize]="true" [fittext]="true"
           [minFontSize]="1">{{this.cardRarity.card.attributes[0].name}}</div>
    </div>
    <img
      class="card-attribute-slot card-attribute-slot-2 card-attribute-slot-size-{{this.cardRarity.card.product.release.maxAttributes}}"
      src="{{this.cardRarity.card.attribute2Image}}">
    <div *ngIf="this.cardRarity.card.attributes.length >= 2"
         [activateOnResize]="true"
         [fittext]="true"
         [maxFontSize]="7" [minFontSize]="1"
         class="text external-text-box card-attribute-text card-attribute-text-2 card-attribute-slot-size-{{this.cardRarity.card.product.release.maxAttributes}} {{this.cardRarity.card.cardType.name.toLowerCase()}}">
      <div [activateOnResize]="true" [fittext]="true"
           [minFontSize]="1">{{this.cardRarity.card.attributes[1].name}}</div>
    </div>
    <img
      class="card-attribute-slot card-attribute-slot-3 card-attribute-slot-size-{{this.cardRarity.card.product.release.maxAttributes}}"
      src="{{this.cardRarity.card.attribute3Image}}">
    <div *ngIf="this.cardRarity.card.attributes.length >= 3"
         [activateOnResize]="true"
         [fittext]="true"
         [maxFontSize]="7" [minFontSize]="0"
         class="text external-text-box card-attribute-text card-attribute-text-3 card-attribute-slot-size-{{this.cardRarity.card.product.release.maxAttributes}} {{this.cardRarity.card.cardType.name.toLowerCase()}}">
      <div [activateOnResize]="true" [fittext]="true"
           [minFontSize]="0">{{this.cardRarity.card.attributes[2].name}}</div>
    </div>
