
.card {
  width: 63.5mm;
}

:host ::ng-deep .front {
  height: 26.458333mm;
}

.back {
  height: 88.9mm;
}

.card-id {
  left: 6.4822916667mm;
  bottom: 4.8947916667mm;
}

.card-name {
  bottom: 4.6302083333mm;
  left: 21.960416667mm;
}

.abilities {
  bottom: 8.2020833333mm;
  left: 0.5291666667mm;
  right: 0.5291666667mm;
}
