@import '~normalize.css';

.card {
  width: 88.9mm;
}


:host ::ng-deep .front {
  height: 26.458333mm;
}


.card-name {
  bottom: 4.4979166667mm;
  left: 84.58333333385826mm;
}

.card-id {
  left: 38.364583333mm;
  bottom: 4.8947916667mm;
}

.abilities {
  bottom: 2.1166666667mm;
  left: 0.5291666667mm;
  right: 55.5625mm;
}
